.table-responsive {
	.title {
		text-align: center;
		font-weight: 600;
	}
}

.border-primary {
    border-color: #007bff !important; /* Cor azul primária */
}
.border-bottom {
    border-bottom: 2px solid #007bff !important; /* Linha azul abaixo do cabeçalho */
}
.table-bordered {
    border: 2px solid #007bff !important; /* Bordas ao redor da tabela */
}