<app-layout [title]="'Produtos'">
    <!-- Filtros -->
    <div filters class="row">
        <div class="col-sm-4">
            <select class="form-select">
                <option value="">Filtrar por nome</option>
                <option *ngFor="let category of products" [value]="category.id">{{ category.name }}</option>
            </select>
        </div>
        <div class="col-sm-4">
            <button class="btn btn-primary" (click)="redirectUrl()">Criar Compania</button>
        </div>
    </div>

    <!-- Tabela -->
    <app-table [headers]="headers" [items]="products" [loading]="companyService.loading" [typeObject]="typeObject">

        <ng-template #customColumn let-item>
        </ng-template>
    </app-table>
</app-layout>